<!DOCTYPE html>
<html ng-app="DataBinding">
<head>
    <title>DataBinding Demo Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var myvar = angular.module('DataBinding',[]);
        myvar.controller("myctrl", function($scope){

            $scope=name="";
            $scope.id = 12;
        });

    </script>
</head>
<body>
    <div ng-controller="myctrl">
        Enter the Name:
            <input type="text" ng-model="name"><br>
        Enter the ID:
            <input type="text" ng-model="id">

         <p>Name: {{name}}</p>
         <p>ID  : {{id}}</p>   

    </div>
</body>
</html>