<!DOCTYPE html>
<html ng-app="ifdemo-jayesh">
<head>
    
    <title>if Conditional Statement Demo </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var myvar = angular.module("ifdemo-jayesh",[]);
        myvar.controller("ifctrl-jayesh",function($scope){
            $scope.status = true;
            $scope.show = function(){
                $scope.status = true;
            }
            $scope.hide = function(){
                $scope.status = false;
            }
        });

    </script>
</head>
<body>
    <div ng-controller="ifctrl-jayesh">
        <p ng-if="status">This is my Message!</p>
        <button ng-click="show()">Show</button>
        <button ng-click="hide()">Hide</button>
    </div>
</body>
</html>